@charset "utf-8";

/***********************************
		REFERENCES
font-sizes
6.854rem
4.236rem
2.618rem
1.618rem
1rem
0.618rem

font-families
Droid Serif, Droid Sans

colors
#000000
#222222
#333333
#D4D4D4
#CC3300
#BADA55
#FFFFFF
plus the shadow for the text


***********************************/

*{
	padding:0;
	margin:0;
}

/***********************************
		DEFAULTS
***********************************/
body{
	background-color: #222;
}
h1, h2, h3, h4{
    font-family:'Droid Serif', serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
}
h1{
    color: #FFFFFF;
    
}
h2{
	color: #CC3300;
    font-size: 4.236rem;
}
h3{
	color: #CC3300;
    font-size: 2.618rem;
}
h4{
	color: #CC3300;
    font-size: 1.618rem;
}
p, li, a{
	font-family:'Droid Sans', sans-serif;
}
img{
	width:90%;
	max-width: 100%;
	box-sizing: border-box;
}
ul{
	list-style-type: none;
    padding-left: 50px;
}
a:link, a:visited{
	transition: all 0.8s linear;
    color: #cc3300
}
a:hover, a:active, a:focus{
	text-decoration: none;
    color: #bada55
}

/***********************************
		LAYOUT
***********************************/
.wrapper{
	width:90%;
	max-width: 1020px;
	min-width: 400px;
	margin:0 auto 2.0rem;
	background-color: #d4d4d4;
}
.header{
	background-color: #000;
    min-height: 400px;
    background-image: url(../img/moon-header.jpg);
    background-repeat: no-repeat;
    background-position: top right;
}
.main{
	margin: 10px 25px;
}
.footer{
	padding: 30px;
    background-color: #333333;
}

/***********************************
		LINKS 
-for any that are different than the default
***********************************/

.footer a:link,
.footer a:visited{
	display: block;
	
}
.footer a:hover,
.footer a:active,
.footer a:focus{
	
}


/***********************************
		CONTENT
***********************************/
.header h1{
    color: #fff;
    text-align: right;
    font-size: 6.854rem;
    width: 32%;
    position: absolute;
    line-height: 6.5rem;
    padding-left: 20px;
    margin-top: 40px;

}
.main h2{
	padding-bottom: 15px;
}
.main h3{
	padding-bottom: 15px;
}
.main p{
	padding-bottom: 20px;
    
}
.main img{
	border-radius: 47%;
}
.main-content-img{
    width: 180px;
    
}
.left{
	float:left;
	margin-right:10px;
	margin-bottom: 10px;
}
.footer p{
   background-color:#333333;
    clear: both;
    padding-top: 20px;
    
    
}
.footer li{
    width: 50%;
    float: left;
    font-size: 1rem;
    line-height: 2rem;
}
